---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('August 25, 2025')}
>
	<p>
		I'm Charles, a scientist in <a href="https://mariannasafronova.com/" target="_blank" rel="noopener noreferrer"> the Safronova group</a> at the <a href="https://www.udel.edu/" target="_blank" rel="noopener noreferrer">University of Delaware</a>. My research focuses on developing high-precision computational methods for relativistic atomic structure calculations. These methods play a key role in next-generation technologies such as ultra-accurate atomic clocks and in searches for new physics beyond the Standard Model. I am also contributing to the development of the <a href="https://www1.udel.edu/atom/" target="_blank" rel="noopener noreferrer">Portal for High-Precision Atomic Data and Computation</a>, which provides state-of-the-art atomic data to the broader scientific community. 
	</p>
	<p>
		I received my Ph.D. in Theoretical Atomic Physics from the University of Delaware, where I created the first versions of pCI, a parallel relativistic atomic structure code package based on the configuration interaction (CI) method. This work included modernizing legacy Fortran 77 codes, implementing high-performance computing techniques, and applying them to large-scale CI calculations of complex atoms and ions relevant to precision experiments. You can find a copy of my thesis <a href="/thesis.pdf" target="_blank" rel="noopener noreferrer">here</a>. 
	</p>
	<p>
		CV as of August 2025 <a href="/cv.pdf" target="_blank" rel="noopener noreferrer">here</a>.
	</p>

</Layout>

