---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('August 25, 2025')}
>
	<p>
		I'm Charles, a scientist of the <a href="https://mariannasafronova.com/" target="_blank" rel="noopener noreferrer">Safronova group</a> at the <a href="https://www.udel.edu/" target="_blank" rel="noopener noreferrer">University of Delaware</a>.
		My research involves the development of methods and codes for high-precision relativistic atomic structure calculations. I am also involved in the development of the <a href="https://www1.udel.edu/atom/" target="_blank" rel="noopener noreferrer">Portal for High-Precision Atomic Data and Computation</a>. 
	</p>
	<p>
		I received my PhD in Theoretical Atomic Physics from UD, developing the initial versions of pCI, a parallel high-precision relativistic atomic structure code package based on the configuration interaction (CI) method. This work involved modernizing legacy codes written in Fortran 77 and implementing standard HPC methodologies. These parallel codes were used for large-scale CI calculations of complex atoms and ions of interest for various experimental endeavors. You can find a copy of my thesis <a href="/thesis.pdf" target="_blank" rel="noopener noreferrer">here</a>. 
	</p>
	<p>
		CV as of August 2025 <a href="/cv.pdf" target="_blank" rel="noopener noreferrer">here</a>.
	</p>

</Layout>

