---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="flex px-8 py-2">
				<img class="w-48 h-68" src="/headshot.jpg">
				<div class="pt-8 px-8">
					<b>Welcome!</b> I'm Charles, a postdoc of <a href="https://mariannasafronova.com/" target="_blank">the Safronova group</a> at the University of Delaware. My research involves the development of methods and codes for high-precision relativistic atomic structure calculations.
				</div>
			</div>

		</main>
		<Footer />
	</body>
</html>
